{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="index-page">
    <div class="side-bar-left">
        <div class="posts-categories">
            <div class="post-category-header">
                <h3 class="post-category-title">Categories</h3>
            </div>
            <div class="post-category-body">
                {% for category in categories%}
                <p>
                    <a class="post-category" href="{% url 'blog:category' category.name %}">{{forloop.counter}}.
                        {{category.name}}</a>
                </p>
                <span class="recent-divider"></span>

                {% endfor %}
            </div>
        </div>
        <div class="recent-article">
            <div class="recent-article-header">
                <h3 class="recent-article-title">Recent Articles </h3>
            </div>
            <div class="recent-article-body">
                {% for post in posts%}
                <p class=""><a class="recent-article-text" href="{% url 'blog:post-details' post.id %}">{{forloop.counter}}.
                    {{post.title|slice:25}}</a></p>
                <span class="recent-divider"></span>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="posts">
        <form class="search-bar" action="." method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="form-control" name="search-title" id=""
                   placeholder="Search article by title" required>
            <button class="search-button">Search</button>
        </form>
        {% for post in posts%}
        <div class="post-card">
            <div class="card-header">
                <h1><a class="post-title" href="{% url 'blog:post-details' post.id %}">{{post.title}}</a></h1>
                <small>Author: {{post.author}} | Category: <a class="post-category"
                                                              href="{% url 'blog:category' post.category %}">{{post.category}}</a>
                    | Updated: {{post.updated_on}}</small>
            </div>
            <div class="card-body">
                <p class="body-text">{{post.description|safe|slice:500 }}
                    <a class="post-title" href="{% url 'blog:post-details' post.id %}">read more ...</a>
                </p>
            </div>
        </div>
        {% endfor %}


        <div class="posts-scroll">
            <span class="scroll"><i class="fa-solid fa-arrow-up-long scroll-icon"></i></span>
        </div>
        <nav class="footer">
            <div class="footer-container">

                <ul class="footer-items-left">

                    <li class="footer-item">
                        <p class="copyright"></p>
                    </li>
                </ul>


            </div>
        </nav>
    </div>
    <div class="side-bar-right">
        <div class="profile">
            <div>
                <img class="profile-image" src="{% static 'images/pr.jpg' %}" alt="">
            </div>
            <div>
                <h5 class="about-header">Erastus Nzula</h5>
                <h5 class="about-header">Software engineer</h5>
                <a href="https://twitter.com/erastus_nzula?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                   data-show-screen-name="false" data-show-count="false" target="_blank">Follow @erastus_nzula</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="contact-form">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="contact-title">Contact me</h3>
                <div class="email-label">
                    <label for="email">Email Address</label>
                </div>
                <input type="email" name="email" id="email" class="email" placeholder="" required>
                <div class="message-label">
                    <label for="message">Message</label>
                </div>
                <textarea class="message" name="message" id="message" rows="10" required></textarea>
                <button class="contact-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}